@import 'variables.scss';

:host {
  display: block;
  font-size: 1rem;
}
.reading-list {
  padding: $spacing-xxs;
}

.reading-list-item {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-xs;
  width: 100%;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reading-list-item--cover {
  max-width: 36px;
  max-height: 36px;
  margin-right: $spacing-xxs;
}

.reading-list-item--details {
  flex: 1;
  min-width: 0;
  margin-right: $spacing-xxs;
}

.reading-list-item--details--title,
.reading-list-item--details--author {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.empty {
  font-weight: 100;
  font-size: 1rem;
  color: $gray60;
}
.book-done {
  .mat-icon {
    font-size: 2.5rem;
    color: #777;
    margin-right: 0.25rem;

    &.active {
      color: #448844;
    }
  }
  mat-icon:nth-child(2) {
    margin-left: -1.25rem;
    margin-top: 0.25rem;
    font-size: 1.5rem;
    color: #fff;
  }
}
